In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('../data/Fraud.csv')

In [35]:
df_fraud = df[df['isFraud'] == 1]
df_fraud.shape
df_fraud.head(30)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
251,1,TRANSFER,2806.00,C1420196421,2806.00,0.00,C972765878,0.00,0.00,1,0
252,1,CASH_OUT,2806.00,C2101527076,2806.00,0.00,C1007251739,26202.00,0.00,1,0
680,1,TRANSFER,20128.00,C137533655,20128.00,0.00,C1848415041,0.00,0.00,1,0
681,1,CASH_OUT,20128.00,C1118430673,20128.00,0.00,C339924917,6268.00,12145.85,1,0
724,1,CASH_OUT,416001.33,C749981943,0.00,0.00,C667346055,102.00,9291619.62,1,0
969,1,TRANSFER,1277212.77,C1334405552,1277212.77,0.00,C431687661,0.00,0.00,1,0
970,1,CASH_OUT,1277212.77,C467632528,1277212.77,0.00,C716083600,0.00,2444985.19,1,0
1115,1,TRANSFER,35063.63,C1364127192,35063.63,0.00,C1136419747,0.00,0.00,1,0
1116,1,CASH_OUT,35063.63,C1635772897,35063.63,0.00,C1983025922,31140.00,7550.03,1,0
1869,1,TRANSFER,25071.46,C669700766,25071.46,0.00,C1384210339,0.00,0.00,1,0
1870,1,CASH_OUT,25071.46,C1275464847,25071.46,0.00,C1364913072,9083.76,34155.22,1,0
1911,1,CASH_OUT,132842.64,C13692003,4499.08,0.00,C297927961,0.00,132842.64,1,0
2301,1,TRANSFER,235238.66,C1872047468,235238.66,0.00,C116289363,0.00,0.00,1,0
2302,1,CASH_OUT,235238.66,C1499825229,235238.66,0.00,C2100440237,0.00,235238.66,1,0
3059,2,TRANSFER,1096187.24,C1093223281,1096187.24,0.00,C2063275841,0.00,0.00,1,0
3060,2,CASH_OUT,1096187.24,C77163673,1096187.24,0.00,C644345897,0.00,1096187.24,1,0
3162,2,TRANSFER,963532.14,C1440057381,963532.14,0.00,C268086000,0.00,0.00,1,0
3163,2,CASH_OUT,963532.14,C430329518,963532.14,0.00,C991505714,132382.57,1095914.71,1,0
3271,2,TRANSFER,14949.84,C140702728,14949.84,0.00,C634210724,0.00,0.00,1,0
3272,2,CASH_OUT,14949.84,C395257482,14949.84,0.00,C1032986144,18161.79,33111.63,1,0
3683,2,TRANSFER,18627.02,C1375503918,18627.02,0.00,C234430897,0.00,0.00,1,0
3684,2,CASH_OUT,18627.02,C175961135,18627.02,0.00,C1711105800,147251.58,165878.60,1,0
4103,3,TRANSFER,10539.37,C1134864869,10539.37,0.00,C118648358,0.00,0.00,1,0
4104,3,CASH_OUT,10539.37,C1984954272,10539.37,0.00,C124540047,0.00,10539.37,1,0
4260,3,TRANSFER,22877.00,C1247938090,22877.00,0.00,C1002031672,0.00,0.00,1,0
4261,3,CASH_OUT,22877.00,C2126545173,22877.00,0.00,C573200870,0.00,22877.00,1,0
4440,4,TRANSFER,10000000.00,C7162498,12930418.44,2930418.44,C945327594,0.00,0.00,1,0
4441,4,CASH_OUT,10000000.00,C351297720,10000000.00,0.00,C766681183,0.00,9941904.21,1,0

In [ ]:
df_fraud['nD_count'] = df_fraud.groupby('nameDest')['nameDest'].transform('count')
df_fraud_again = df_fraud[df_fraud['nD_count'] > 1]
df_fraud_again.shape
df_fraud_again

In [ ]:
df_fraud_again['nameDest'].nunique()
#Nombre de comptes receveur ayant été utilisé dans 2 fraudes

In [ ]:
df_fraud['nO_count'] = df_fraud.groupby('nameOrig')['nameOrig'].transform('count')
df_frauded_again = df_fraud[df_fraud['nO_count'] > 1]
df_frauded_again.shape
#Aucun compte n'a été 2 fois victime de fraudedf_frauded_again = df_fraud[df_fraud['nO_count'] > 1]
df_frauded_again.shape
#Aucun compte n'a été victime de fraude plus d'une fois

In [ ]:
df_fraud['new_balance_count'] = df_fraud.groupby('newbalanceOrig')['newbalanceOrig'].transform('count')
df_frauded_sold = df_fraud[df_fraud['new_balance_count'] ==  0 ]
df_frauded_again.shape
#Toutes les Fraudes se traduisent par le fait que le compte soit vidé 
#Checker qu'un virement (qui vide un compte 1 )sur un compte 2 n'est pas cash out après par les compte 2

In [ ]:
df_fraud.head(20)

In [ ]:
cpt_2 = df_fraud['nameDest']                                                                                                                                                        ²
df_cash_out = df.loc[df['nameOrig'].isin(cpt_2)]
df_cash_out.head()
df_cash_out.shape